 BigData_Mid-Term Exam

IMPORT REQUIRED PACKAGES

In [56]:
import pandas as pd
from cassandra.cluster import Cluster

CREATING A CLUSTER

In [57]:
clstr = Cluster()
session = clstr.connect()

In [44]:
session.execute("DROP KEYSPACE IF EXISTS w04")

Checking the keyspaces

In [45]:
rows = session.execute("desc keyspaces")
for row in rows:
    print(f"{row[0]}")

m14
mid_exampython
system
system_auth
system_distributed
system_schema
system_traces
system_views
system_virtual_schema

In [46]:
session.execute("""
    CREATE KEYSPACE IF NOT EXISTS Mid_Exampython WITH REPLICATION = {
        'class':'SimpleStrategy', 
        'replication_factor':3
    }
""")

In [68]:
rows = session.execute("desc keyspaces")
for row in rows:
    print(f"{row[0]}")

m14
mid_exampython
system
system_auth
system_distributed
system_schema
system_traces
system_views
system_virtual_schema

In [102]:
session.execute("""
CREATE TABLE IF NOT EXISTS Mid_exampython.User( 
    userid INT, 
    Date VARCHAR, 
    Filetype  VARCHAR,
    File VARCHAR, 
    PRIMARY KEY(Userid)
);
""")

Commands for file creation

In [103]:
with open("Profile800.img",'w') as fout1:
   fout1.write('my profile');

In [104]:
with open("Profile900.mp4",'w') as fout2:
   fout2.write('my profile');

In [94]:
with open("Profile910.txt",'w') as fout3:
   fout3.write('Introduction');

READING THE FILE

In [95]:
with open("Profile800.img",'r') as fin1:
   tmp1= fin1.read()

In [96]:
with open("Profile900.mp4",'r') as fin2:
   tmp2= fin2.read()

In [97]:
with open("Profile910.txt",'r') as fin3:
   tmp3= fin3.read()

DATA CREATION

In [101]:
Companies_data = [
    (800, "09/10/2023", "image", tmp1),
    (900, "07/11/2020", "Video", tmp2),
    (910, "06/12/2019", "image", tmp3)
]
for entry in Companies_data:
    insert_query = """
    INSERT INTO Mid_exampython.User(userid,Date,Filetype,File)
    VALUES (%s, %s, %s, %s)
    """
    session.execute(insert_query, entry)

InvalidRequest: Error from server: code=2200 [Invalid query] message="Undefined column name userid in table mid_exampython.user"

QUERY TO FETCH DATA

In [105]:
query = "SELECT * FROM Mid_exampython.User"
rows = session.execute(query)

# Print the data
print("User_id\t\tDate\t\tFile_type\t\tFile")
print("-" * 80)  # just a separator line
for row in rows:
    print(f"{row.User_id}\t\t{row.Date}\t\t{row.File_type}\t\t{row.File}")

User_id		Date		File_type		File
--------------------------------------------------------------------------------

AttributeError: 'Row' object has no attribute 'User_id'